<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ProdUrl" value="https://www.mytheresa.com" />
		<add key="LocalUrl" value="https://local.mytheresa.com/" />
		<add key="StagingUrl" value="https://staging.mytheresa.com/" />
		<add key="TestUrl" value="https://test.mytheresa.com/" />
	</appSettings>
</configuration>